.root {
    -fx-background-color: #f2f2f2;
}

#loginPane {
    -fx-background-color: white;
    -fx-padding: 24px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

#titleLabel {
    -fx-text-fill: #212121;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#usernameLabel, #passwordLabel, #nameLabel {
    -fx-text-fill: #212121;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#usernameField, #passwordField, #nameField {
    -fx-prompt-text-fill: #BDBDBD;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
}

#leftButton, #rightButton {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
}

#leftButton {
    -fx-background-color: #808080;
}

#leftButton:hover {
    -fx-background-color: #21DE7C;
}

#rightButton {
    -fx-background-color: #26FA50;
}

#rightButton:hover {
    -fx-background-color: #21D5DE;
}

#formContainer {
    -fx-alignment: center;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

#registerLink {
    -fx-font-size: 14px;
    -fx-text-fill: #26B9FA;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.toast-pane {
    -fx-background-color: #333333;
    -fx-padding: 8px;
    -fx-background-radius: 8px;
}

.toast-label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
}